.TeamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 40%;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px black;
  padding: 20px;
  background-color: white;

  h2 {
    margin: 0;
  }

  .button-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;

    button {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }
}
