@import '@assets/variables';

.EmptySlot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 40%;
  min-width: 160px;
  border: 1px dashed $light-grey;
  color: $light-grey;
  border-radius: 10px;
  background-color: $white;
  cursor: not-allowed;

  &:hover {
    &::after {
      content: 'Empty Slot';
    }
  }

  img {
    width: 75px;
    opacity: 0.55;
  }
}
