@import '@assets/variables';

.PokemonInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sprite {
    width: 150px;
  }

  .pokeman-name {
    color: $dark-grey;
    margin: 0;
    text-transform: capitalize;
  }

  .pokeman-number {
    font-weight: bold;
    color: $dark-grey;
  }

  .basic-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;

    .basic-info-section {
      display: flex;
      flex-direction: column;
      text-align: center;

      span {
        background-color: $off-white;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }

  .type {
    text-align: center;
    background-color: $dark-grey;
    color: $off-white;
    border-radius: 5px;
    padding: 2px 10px;
  }

  h3,
  h4 {
    margin: 5px;
  }
}
