@import '@assets/variables';

.PokeTeam {
  height: 100%;

  h2 {
    margin: 0;
  }

  .PokeTeamList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: calc(100vh - 130px);
    overflow-y: scroll;
    padding: 15px 0;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $light-grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $light-grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $light-grey;
  }
}
