@import '@assets/variables';

.SearchItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 40%;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 5px 8px 15px $black;
  padding: 20px;
  background-color: $white;
  cursor: pointer;

  &:hover {
    opacity: 1;
    color: black;
    background-color: $dull-pink;
  }
  &:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  h2 {
    margin: 0;
  }
}
