@import '@assets/variables';

.SearchBar {
  display: flex;
  flex-direction: column;

  .block {
    margin-right: 10px;
  }

  .p-inputtext {
    width: 100%;
  }

  .p-disabled {
    cursor: not-allowed;
  }

  .results {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    margin-top: 20px;

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      .loading-icon {
        width: 100px;
      }

      @keyframes logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        .loading-icon {
          animation: logo-spin infinite 2s linear;
        }
      }
    }

    .results-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 100%;
      height: calc(100vh - 290px);
      overflow-y: scroll;
      padding: 15px 0;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $light-grey;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: $light-grey;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: $light-grey;
    }
  }
}
