#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  max-height: 100vh;
}

.App {
  display: flex;
  gap: 20px;
  min-height: 500px;
  max-height: 100%;
  height: 100%;
}

.search {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  flex: 2;
  background-color: #f0f3f9;
}

.team {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  flex: 3;
  background-color: #f0f3f9;
}
